body {
	padding-top: 70px;
}

#sitename {
	margin: 4px;
	font-family: serif;
	color: #FFF;
}
#sitename a {
	color: #FFF;
	text-decoration: none;
}
#sitename a:visited {
	color: #FFF;
}

.back-top {
	display: block;
	font-size:2em;
}
.author {
	margin-left:2em;
}
.btn .glyphicon {
	font-size:1.5em;
}

.author-text {
	border-top: 1px solid #eee;
}
